[2019-05-30 16:41] PatilShreyas opened #1 "TODO : For Next Release"
- [x] Code Documentation
- [x] Validation
- [x] Making private of `TransactionDetails` model class

[2019-05-30 16:42] PatilShreyas opened #2 "Custom View"
Custom View support for UPI Apps list

[2019-05-31 10:16] PatilShreyas commented on #2
The issue is Solved! Will be closed when 0.1 will be released.

[2019-05-31 10:34] PatilShreyas commented on #1
The issue is solved!

[2019-05-31 10:54] PatilShreyas opened #3 "Wrong Callback Behave [Bug]"

[2019-06-03 00:23] PatilShreyas opened #4 "Add Callback method for Submitted payment"
Adding callback method for transaction with status **SUBMITTED**. `onTransactionSubmitted()` will have to call when transaction status is `Submitted`.

[2019-06-03 08:12] #2 closed

[2019-06-03 08:14] PatilShreyas commented on #4
Implemented and released in Version v1.0.0

[2019-06-03 08:14] #4 closed

[2019-06-03 08:15] PatilShreyas commented on #1
Implemented and released in Version v1.0.0

[2019-06-03 08:15] #1 closed

[2019-09-30 09:19] suryabhairaj opened #6 "public void onTransactionCompleted(TransactionDetails transactionDetails) {}"

[2019-09-30 09:22] suryabhairaj opened #7 "onTransactionCompleted is not getting called after successful payment although onTransactionSuccess is."
onTransactionCompleted  returns the transaction details which i need . thats why onTransactionCompleted is important for me to get called. but it is not getting called.
please help.

[2019-09-30 11:54] PatilShreyas commented on #7
What's process you're doing? Can you show code? What's happening?

On Mon 30 Sep, 2019, 2:52 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 14:13] #6 closed

[2019-10-01 14:18] suryabhairaj commented on #7
easyUpiPayment = new EasyUpiPayment.Builder()
                .with(Authosized_Product.this)
                .setPayeeVpa(companyData.getUpiId())
                .setPayeeName(companyData.getName())
                .setTransactionId(s)
                .setTransactionRefId(s+"1")
                .setDescription(getString(R.string.company_name)+" Product Name : "+productData.getPname())

[2019-10-01 14:27] PatilShreyas commented on #7
Oh! Okay. Can you please try other UPI app so that we can rectify exact
problem?

On Tue 1 Oct, 2019, 7:48 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 14:42] suryabhairaj commented on #7
i had used phonepe .. somthing same was occuring in case of paytm . according to you this code is perfectly fine??

[2019-10-01 14:55] PatilShreyas commented on #7
Yeah. Code is perfect

On Tue 1 Oct, 2019, 8:12 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 15:58] PatilShreyas commented on #7
I tested it my side and everything is fine. I'll suggest to refer demo app
code.

On Tue 1 Oct, 2019, 8:34 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 16:01] suryabhairaj commented on #7
easyUpiPayment = new EasyUpiPayment.Builder()
.with(Authosized_Product.this)
.setPayeeVpa(companyData.getUpiId())
.setPayeeName(companyData.getName())
.setTransactionId(s)
.setTransactionRefId(s+"1")
.setDescription(getString(R.string.company_name)+" Product Name : "+productData.getPname())
.setAmount(String.valueOf(Double.valueOf(productData.getCost())))
.build();
easyUpiPayment.setPaymentStatusL

[2019-10-01 16:04] PatilShreyas commented on #7
Hmm. What's this variable s? Try passing System.currentTimeInMillis() to ID.

On Tue 1 Oct, 2019, 9:31 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 16:15] suryabhairaj commented on #7
yes it is working after changing the value of s.. System.currentTimeInMillis() is working .. but what should
 be actually put inside the transaction id ? and the TransactionRefId . and why is it working in this case? is there some limit on the length on the string 's'(in my case) .

[2019-10-01 16:22] PatilShreyas commented on #7
Maybe your variable s isn't perfect to be transaction id. No problem. Use
your custom code concatenated with currentTimeStamp().

On Tue 1 Oct, 2019, 9:45 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 16:24] suryabhairaj commented on #7
okey thanks a lot ... man

[2019-10-01 16:24] PatilShreyas commented on #7
Anytime!

On Tue 1 Oct, 2019, 9:54 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 16:26] suryabhairaj commented on #7
and one more this ..
what if the payment is from the bank is taking much time than usual . and what if the bank server is down . have you handled that

[2019-10-01 16:27] PatilShreyas commented on #7
Then it'll call onTransactionPending().

On Tue 1 Oct, 2019, 9:56 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 16:29] suryabhairaj commented on #7
in that case what should we do to insure consistency .

[2019-10-01 16:33] PatilShreyas commented on #7
In that case, we can't do anything, because we're not getting anything from
server. All we have to do it manually then.

On Tue 1 Oct, 2019, 9:59 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 16:41] suryabhairaj commented on #7
what if payment is successful after 2-3 days ? if there a way to check from on the server side that is the payment is successful or not?

[2019-10-01 16:52] PatilShreyas commented on #7
No. We can't check it.

On Tue 1 Oct, 2019, 10:11 PM suryabhairaj, <notifications@github.com> wrote:

[2019-10-01 17:25] suryabhairaj commented on #7
okey ... again.. thanks a lot man..

[2019-10-01 18:10] suryabhairaj commented on #7
sorry to bother you again .. onTransactionPending() is not there in your interface . and neither in your documentation.

[2019-10-02 18:03] PatilShreyas commented on #7
@suryabhairaj Sorry for the late reply. It's my mistake. callback `onTransactionSubmitted()` is called when it's pending.

[2019-10-04 15:35] PatilShreyas commented on #7
I think issue is resolved. So I'm closing issue. If you found anything, you can reopen it.

[2019-10-04 15:35] #7 closed

[2019-10-09 17:58] PatilShreyas opened #8 "Interactive demo app for Payment"
Currently, a demo app of repo included static information hardcoded and directly passed to `EasyUpiPayment`. It'll be useful for testing if developers can test the library using demo APK.

**Requirement:**
Add `EditText` fields to take user inputs such as Transaction ID, payee name, payee vpa, etc mandatory details and after clicking on button, these details should passed to `EasyUpiPayment` objec

[2019-10-09 18:33] ranjsa commented on #8
@PatilShreyas  I want to work on it .

[2019-10-09 18:37] PatilShreyas commented on #8
Feeling glad that you want to work on this . Just fork this repo, work on that and open PR against demo-app-update .

[2019-10-09 19:27] Lezzma commented on #8
Done awaiting approval.

[2019-10-22 05:04] PatilShreyas opened #13 "Enable app specific payment"
We can achieve it using 2 ways-
1) Create parameterized method `startPayment()` which takes package name as parameter.
2) Create a method in `Builder` such that developer can specify to pay with only specific app.

 If app exists it'll directly pay throught it, otherwise do fail transaction.

[2019-11-04 04:51] PatilShreyas opened #15 "[TYPO] Typo Fix"
Typo fix on Line 189

https://github.com/PatilShreyas/EasyUpiPayment-Android/blob/13f0df85a2d9db6e34f1eb0494f4801dd6fd9ce1/EasyUpiPayment/src/main/java/com/shreyaspatil/EasyUpiPayment/EasyUpiPayment.java#L189

[2019-11-04 13:35] #15 closed

[2019-11-16 18:01] deepakkumardk opened #17 "[BUG] Payment App not visible after error"
The payment option for different apps got removed after some error during payments in different apps. Now, they are showing less apps (**Apps which have payment failure were not listed in AppBottomSheet**) even after I reinstall the app.

[2019-11-17 03:18] PatilShreyas commented on #17
Can you describe full scenario?

[2019-11-18 16:04] deepakkumardk commented on #17
Okay this happens in flow:

- First I started payment to whats App -> Alert pop up with message You can't proceed as you haven't setup the payment for this App ( which is fine)
- Then next time when I initialize the EasyUpiPayment WhatsApp wasn't listed there
- This time I proceed with Mobikwik again with some transaction error next time when I initialize Mobikwik wasn't listed there, the same hap

[2019-11-18 16:18] PatilShreyas commented on #17
Okay @deepakkumardk. Now I understood the exact problem. This problem isn't associated with this library. Whenever transaction is failing due to some problems, these apps are not listening for payment intents for that, so they aren't found as Intent providers and can't listing those apps there.

Finally I'm closing this issue as this problem isn't associated with library. Thank you!

[2019-11-18 16:18] #17 closed

[2019-12-07 03:47] chiragdivinetechs commented on #8
![WhatsApp Image 2019-12-06 at 1 15 56 PM](https://user-images.githubusercontent.com/43512427/70368568-4bac4000-18d2-11ea-8fcd-2a9b9b900408.jpeg)

i always see Duplicate transacation received error. what is ussue ?

[2019-12-07 07:53] PatilShreyas commented on #8
Hi @chiragdivinetechs, this is happening because you are passing Transaction ID and Ref ID same every time. Generate it dynamically instead of hardcoded string.

[2019-12-09 08:08] #8 closed

[2019-12-09 08:12] PatilShreyas commented on #13
Implemented!

[2019-12-09 08:12] #13 closed

[2020-01-12 19:47] suryabhairaj opened #21 "there is one issue when i am using BHIM for payment and if i cancel it intentionally the app crashes.."
this was the error message (shown in the image
![Screenshot (228)](https://user-images.githubusercontent.com/31375031/72224619-66916480-35a2-11ea-81ac-811794dc3e92.png)
)

[2020-01-13 02:58] PatilShreyas commented on #21
Thanks for reporting this. I'll look into it and will fix is asap.

[2020-01-15 17:13] suryabhairaj commented on #21
thanks for the reply ..
i will be waiting for the fix!!

[2020-01-16 07:04] signalarun opened #22 "isDefaultAppExist is not implemented in source ?"
The method isDefaultAppExist is not found in the library module code. Found when the code was recompiled for supporting minSdkDependency 14.

[2020-01-22 12:46] monikamishra-54 opened #23 "PhonePay and GooglePay not working"
In response showing null in approvalRefNo and 00 in response code.
Here is Log Details
TransactionDetails: transactionId:T1579696281289, responseCode:00, transactionRefId:T1579696281289, approvalRefNo:null, status:Success

While Paytym is working.

[2020-01-22 15:30] PatilShreyas commented on #23
This problem isn't associated with this library. It's that UPI apps not providing response as per NPCI guidelines. Still, you're getting status confirmation and it's sufficient. Thank you

[2020-01-22 15:30] #23 closed

[2020-01-26 18:15] suryabhairaj commented on #21
Did you got it ??

[2020-01-26 18:15] suryabhairaj commented on #21
Is it fixed ??

[2020-01-26 18:25] PatilShreyas commented on #21
Not yet. Can you please provide more details about this? How to produce
this error?

On Sun 26 Jan, 2020, 11:45 PM suryabhairaj, <notifications@github.com>
wrote:

[2020-01-28 06:01] suryabhairaj commented on #21
try using BHIM app for making payment. After the portal of bhim app is open and ready to pay .. then press back button app crashes  :{(

[2020-01-30 17:35] PatilShreyas commented on #21
I've tried it. But I didn't got error.

[2020-01-30 17:42] PatilShreyas commented on #22
Can you describe exact problem? Please provide description.

[2020-02-01 14:29] imMayankRaj opened #24 "Payment Status"
Hey, thanks for this making this library.
My query is, suppose a payment status is SUBMITTED, so is there any way or an API available where I can check status of the payment after it has been completed

[2020-02-01 14:45] PatilShreyas commented on #24
Currently there is no such API to check that.

[2020-02-01 15:14] imMayankRaj commented on #24
Ok thanks.

[2020-02-01 15:14] #24 closed

[2020-02-09 12:32] Vivekburada commented on #22
The method isDefaultAppExist is not found in the source code. Your library is a just a blind pipeline for who directly implement from Repository.

Making something OpenSource means giving full right to the codebase for the developer.

I see some things are purposely taken out carefully.

Hope I was not wrong!!

[2020-02-10 17:16] PatilShreyas commented on #22
Hi @Vivekburada, just reviewed your query and found that it's my mistake. I forgot to push latest code in this repository. Now I've pushed code and you can see `isDefaultAppExist()` method in code.
Thank you for your awareness and sorry for that.
I'm closing that issue.

[2020-02-10 17:16] #22 closed

[2020-02-14 18:24] suryabhairaj commented on #21
in my case error is coming as you can see the image ..
is there any other information you want me give ??
sorry i was busy on some other project.. didn't saw your reply ..
hope you are on some date (14 Feb) ;)
you can reply tomorrow.. fine by me..

[2020-02-14 18:39] PatilShreyas commented on #21
Oh okay! I just observed that error. Some UPI apps don't send response back
to caller that's why it's happening. I'll solve this in upcoming version.
Thanks for filling this issue. It will help me a lot to create better!

On Fri 14 Feb, 2020, 11:54 PM suryabhairaj, <notifications@github.com>
wrote:

[2020-02-14 20:30] medhirajsharma opened #25 "[BUG/FEATURE REQUEST] implement with https://github.com/mgks/Android-SmartWebView always given me Failed message"
implement with https://github.com/mgks/Android-SmartWebView always given me Failed message
my code
this function call by url

[code]

[2020-02-18 10:51] #21 closed

[2020-02-18 10:52] suryabhairaj commented on #21
thanks !!

[2020-02-18 20:59] suryabhairaj opened #26 "Error has still not resolved in the new version related to issue #21"
![image](https://user-images.githubusercontent.com/31375031/74777384-5f572800-52bf-11ea-98e9-f91a9a6f3890.png)

java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=4400, result=-1, data=Intent { (has extras) }} to activity {com.example.raj.checker/com.shreyaspatil.EasyUpiPayment.ui.PaymentUiActivity}: java.lang.ArrayIndexOutOfBoundsException: length=1; index=1

[2020-02-22 07:56] rajasuman09 commented on #17
Sometimes if you try to pay to an account from same account but with different upi ids, this problem comes up.

[2020-02-27 19:52] #25 closed

[2020-03-16 06:51] ImPDP commented on #26
@suryabhairaj Did you solved this problem? I'm facing this issue. The payment is completing successfully but it doesn't callback to the activity.

[2020-03-21 09:59] Vivekburada opened #27 "[Request on documentation]"
Hi Shreyas,

Greeting!

It's a kind request that whenever you update the package please let me know what all new features have been done.

Thank you.

[2020-03-21 12:08] PatilShreyas commented on #27
Thanks @Vivekburada for this. But you're talking about which feature? Please describe in brief.

[2020-03-22 08:58] RohinBhat opened #28 "Google pay not showing in payment options"
When I click pay, the options show up. But, there is no option for paying through Google Pay.
![IMG_20200322_142737](https://user-images.githubusercontent.com/56036924/77246040-63bd8a80-6c49-11ea-9a9f-77588211cbef.jpg)

[2020-03-22 09:09] PatilShreyas commented on #28
Is Google Pay app installed on your device? If it is then please check it
is setup or not and then try again.

On Sun, Mar 22, 2020 at 2:28 PM RohinBhat <notifications@github.com> wrote:

[2020-03-22 12:03] RohinBhat commented on #28
Google pay is both installed and setup. I even use it myself.

[2020-03-22 14:54] samair opened #29 "Question: Response code U29-RA for failure of a transaction"
Any idea of response code U29-RA for a failed transaction.
If there is UPI api guide, please point me towards it.

[2020-03-22 16:31] PatilShreyas commented on #29
Here is the link: https://www.npci.org.in/sites/default/files/UPI%20Procedural%20Guidelines_29oct19.pdf

[2020-03-24 06:08] #29 closed

[2020-03-24 06:08] PatilShreyas commented on #28
What's result when manually choosing Google Pay from options?

[2020-03-24 07:37] samair commented on #29
Thanks for document, though i found out later response codes are specific to UPI apps. So google pay has its own meaning, phonepe would have some other codes.
If anyone faces similar response codes on failure
U29-RA on google pay means the transaction ID has already been used.

[2020-03-24 11:19] PatilShreyas commented on #29
Then you'll have to generate your own unique transaction ID

On Tue 24 Mar, 2020, 1:08 PM Sameer Chandra, <notifications@github.com>
wrote:

[2020-04-06 06:16] PatilShreyas commented on #28
Open Google Pay app once and try it after. I'm closing this issue.

[2020-04-06 06:16] #28 closed

[2020-04-06 06:17] PatilShreyas commented on #27
It's still not clarified. So I'm closing this issue.

[2020-04-06 06:17] #27 closed

[2020-04-06 06:18] PatilShreyas commented on #26
Can you please describe how to produce this error?

[2020-04-06 06:39] ImPDP commented on #26
@PatilShreyas Some of the customers facing the issue, the certainty of the issue is uncommon. It happens hardly but it is happening. just handle the exception in the line where the error is happening in PaymentUIActivity

[2020-04-06 06:49] PatilShreyas commented on #26
Okay. Thanks. I'll fix it soon

On Mon 6 Apr, 2020, 12:09 PM Pradeep Annadurai, <notifications@github.com>
wrote:

[2020-04-06 12:43] PatilShreyas commented on #26
This is fixed and implemented in version `v2.1`. Thanks!

[2020-04-06 12:43] #26 closed

[2020-04-06 12:44] PatilShreyas commented on #21
This issue is fixed and implemented in `v2.1`. Thanks!

[2020-04-07 05:23] ImPDP commented on #26
Will implement in few days. I'm just asking. Is that exception is handled and sent as a success callback? Since this is happening only in successfull transactions.

[2020-04-07 06:01] PatilShreyas commented on #26
This issue is solved and implemented in v2.1. Thanks for thinking about
contributing.

On Tue 7 Apr, 2020, 10:53 AM Pradeep Annadurai, <notifications@github.com>
wrote:

[2020-05-14 08:57] Akshshr opened #30 "[BUG?] Missing Mpin field"
Hey cool library, but looks like payments aren't going through at all, I keep seeing a 'missing m-pin' toast.

Any clue where this is coming from and how to fix it?

[2020-05-14 09:15] PatilShreyas commented on #30
Hi Akash, can you give brief description of problem you're facing?

On Thu 14 May, 2020, 2:27 PM Akash, <notifications@github.com> wrote:

[2020-05-14 09:22] Akshshr commented on #30
so after picking a UPI enabled application, and hit "confirm" on google Pay, I get an error toast which says "Mpin missing"

[2020-05-14 11:08] PatilShreyas commented on #30
Have you set up your profile on UPI app (Google pay) account on your phone?
You might not have set up MPIN in your Google Pay. Try this!

On Thu 14 May, 2020, 2:52 PM Akash, <notifications@github.com> wrote:

[2020-05-14 17:55] Akshshr commented on #30
Yes google pay works just as expected otherwise, I can send and recieve money. Umm there is no such thing as MPin in Google Pay..as far as I can tell

[2020-05-15 04:52] PatilShreyas commented on #30
Okay. So this problem isn't associated with this library. It's showing in Google Pay app then it might me another problem. I'm closing this issue now.

[2020-05-15 04:52] #30 closed

[2020-05-18 10:48] Akshshr commented on #30
Hey again, so I have this Mpin thing set up now. But still seeing and issue, when I open the payment page (Google pay) using the code, after hitting 'Pay' then -> UPI Pin -> I go back to Pay page...it never seems to proceed to a confirmation, then trigging the onCompleted and onFailed callbacks..and since there is no error being thrown, I have no idea what the issue is..any clue? @PatilShreyas

[2020-05-18 12:32] PatilShreyas commented on #30
Can you check logcat? Or try this with another UPI app.

On Mon, May 18, 2020 at 4:19 PM Akash <notifications@github.com> wrote:

[2020-05-18 14:11] Akshshr commented on #30
Hm logs don't show much. Trying this out with other apps.
Meanwhile, setPayeeVpa(), the VPA here, can that be app-specific?
At Google Pay its:
myname-1@oksbi

At Paytm its
mynumber@upi

with the rest of the UPI apps its something else...does the VPA have to be consistent with each app? Or is there a generic VPA for each person?

[2020-05-18 15:02] PatilShreyas commented on #30
VPA can be anything but it should exist. You can transfer money inter UPI
apps too.

On Mon 18 May, 2020, 7:42 PM Akash, <notifications@github.com> wrote:

[2020-05-18 15:36] Akshshr commented on #30
I have that covered, so VPA can be of any app but how does google pay know PAYTMs VPA then? **myname@okSbi** which is my VPA with Google, and paying through Google pay still fails clearly.

[2020-05-18 15:49] PatilShreyas commented on #30
Yes, it's centralized system. It's payment interface. VPA is your unique
address. That's why you can pay to any app from any app.

On Mon 18 May, 2020, 9:07 PM Akash, <notifications@github.com> wrote:

[2020-05-18 16:04] Akshshr commented on #30
yeah but how do we fix this? It looks

 like its a deeper issue.
Now the payment straight up fails..doesn't even open the google pay app

![Uploading Screenshot_20200518-212852.png…]()

[2020-05-18 16:40] Akshshr commented on #30
Okay double-checked with the "Standard" way to pay using the same fields and it works, It looks like the implementation doesn't work buddy @PatilShreyas.
I suggest opening this thread as a #BUG

[2020-05-19 03:35] PatilShreyas commented on #30
Yes we can reopen this but root of cause should be known. I've tested this
too my side and no errors are coming. Still, you can reopen this.

On Mon 18 May, 2020, 10:10 PM Akash, <notifications@github.com> wrote:

[2020-05-19 03:36] PatilShreyas commented on #30
And this issue is associated with UPI apps not library. I think UPI network problem is going on due to lockdown in these days.

[2020-05-19 06:16] Akshshr commented on #30
Unable to reopen it :)
Yeah the UPI apps are far from stable.

[2020-05-19 08:08] PatilShreyas commented on #30
Okay

[2020-05-20 05:18] elugoti opened #31 "Getting error if sender UPI ID and receiver UPI ID on same devices"
I have implemented your code, but I am facing issue if both sender and receiver have UPI IDS on the same phone. (Google pay error: error in google pay: oops, something went wrong, if your payment has been debited with this charge and ....)

[2020-05-20 10:27] PatilShreyas commented on #31
What's exactly happening please describe.

[2020-05-25 10:05] umangburman opened #32 "TransactionID mismatch"
Hi,

Thanks for writting this library. It's really very good and useful.

The issue that I'm facing is with the TransactionID.

When the transaction is executed, I'm able to get the TransactionId which I provide, but I need the particular app's Transaction ID.

Example: my transid = ED765T but Phonepe's is = PMR45365467575

So here, I'm getting "ED765T" But I need "PMR45365467575"

Note: getApprov

[2020-05-26 19:03] TakeoffAndroid opened #33 "Only Paytm Works other upi apps doesnt work"
I noticed that only paytm works. Other apps like google pay, amazon pay, bhim, phonePe are not working. Though the app is installed, I keep getting error "NO Upi Apps found, Please Install to Proceed!". Am I missing something here?

Below is my code

In On create:
[code]

[code]

[code]

[2020-05-27 02:20] PatilShreyas commented on #33
Do one thing, just open Google Pay, PhonePe, etc apps and do some random activities there. Then again try this and see if it's working or not

[2020-05-27 04:43] TakeoffAndroid commented on #33
Sure @PatilShreyas. Let me try and come back. Thanks!

[2020-06-05 06:15] itshiteshverma opened #34 "[BUG/FEATURE REQUEST] GET AMOUNT SEND"
Thing is that the user might change the UPI Amount when the UPI App is opened [In case of Paytm]. Is there any way to get the Actual Amount Send in the onTransactionComplete or onSuccess ???

[2020-06-05 06:42] PatilShreyas commented on #34
@itshiteshverma Good suggestion! Currently it doesn't support this but in next version I'll implement it. Thanks for this!

[2020-06-05 06:45] PatilShreyas opened #35 "Default App launcher instead of Intent Filter"
Instead of using the Intent filter to launch apps, use default app launcher and let system show available apps for UPI payment.

[2020-06-05 11:42] #34 closed

[2020-06-05 11:42] #35 closed

[2020-06-05 11:46] PatilShreyas commented on #34
Thanks @itshiteshverma. It's implemented and available in `v2.2`.

[2020-06-05 12:13] mtech2008 opened #38 "How can I use it in cordova app?"
Any insight on how can I use it in cordova app?

[2020-06-05 12:32] itshiteshverma commented on #34
Thank you for your response

On Fri, 5 Jun 2020, 5:17 pm Shreyas Patil, <notifications@github.com> wrote:

[2020-06-06 02:41] PatilShreyas commented on #38
No. It's for native android development and currently support java and kotlin. If Cordova Supports native interface then you can integrate it that way.

[2020-06-06 02:41] #38 closed

[2020-09-01 03:55] jdsmart53 commented on #21
try using BHIM app for making payment. After the portal of bhim app is open and ready to pay also payment successfull but  then response is onTransactionFailed and onTransactionCancelled :{(
But same operation works fine for the case other than BHIM App.

[2020-09-01 08:20] nageamol opened #39 "[BUG] It allows to make fake transactions."
Write information about Bug/Feature Request hereRs
Rs. 97,566.00 entry received with success status.

[2020-09-02 07:33] PatilShreyas commented on #31
Closing this due to inactivity and invalid description.

[2020-09-02 07:33] #31 closed

[2020-09-02 07:35] PatilShreyas commented on #32
Yeah. This problem is associated with PhonePe transactions from years. PhonePe does not send correct transaction ID. Hope they'll fix it soon.

[2020-09-02 07:35] PatilShreyas commented on #33
Any update on this @TakeoffAndroid?

[2020-09-02 07:37] PatilShreyas commented on #39
@nageamol Can you describe what's exactly happening?

[2020-09-04 15:10] 123vipulj opened #40 "Does not work on phonepe"
Something went wrong . Please try again later message showing
work fine with paytm

[2020-09-04 16:20] PatilShreyas commented on #40
Since this problem is not about this library and causing due to UPI app so that's no issued at all. Closing this!

[2020-09-04 16:20] #40 closed

[2020-09-08 07:03] PatilShreyas opened #43 "Fix/Improvements Library code"
### Proposed change
- Fix or improve the code of the library module.
- This change is encouraged during ***"Hacktoberfest"*** for the participants of this event.

[2020-09-08 07:05] PatilShreyas opened #44 "Fix/Improvements in Documentation"
### Proposed change
- Fix or improve the documentation for the library.
- Documentation is available in `/docs` directory.
- Documentation is generated using [Docsify](https://docsify.js.org/).
- This change is encouraged during ***"Hacktoberfest"*** for the participants of this event.

### References
https://docsify.js.org/

[2020-09-08 09:21] #32 closed

[2020-09-11 07:25] shankar7545 commented on #39
@PatilShreyas  I think @nageamol want you to create a feature to generate fake transactions .

[2020-09-11 07:30] shankar7545 opened #45 "Cant change the loading progress Activity background color ."
After   startPayment() , It opens a activity/fragment with white background and a progressbar .

I need to change the activity background color .

My app is completely dark .
Is there a way around to change the color?

[2020-09-11 07:35] nageamol commented on #39
@shankar7545

In existing, users is making fake transactions. i.e. Rs. 97,566.00 entry received with success status. but i did not receive any amount in bank or not found such transaction in banks statement.

[2020-09-11 07:38] shankar7545 commented on #39
Ooo , that's bad.

I was thinking to use this dependency in my app.

It seems like i might wanna wait till this bug clears.

Did u find put how users managed to create fake transaction?

[2020-09-11 08:17] PatilShreyas commented on #39
@nageamol How to reproduce this?

[2020-09-11 08:19] PatilShreyas commented on #45
@shankar7545 Currently, there's no way to do this. But you can expect this in the upcoming release.

[2020-09-11 08:37] shankar7545 commented on #45
Oh okay sure

[2020-09-12 05:45] nageamol commented on #39
Trying to reproduce from last month.

[2020-09-12 09:58] PatilShreyas commented on #39
This description is not valid then. Without proper information about bug/problem this issue will be invalid. Provide us valid information about it asap.

[2020-09-12 10:00] PatilShreyas commented on #33
I'm closing this issue due to missing information about bug. Feel free to reopen this issue once have valid description of problem.

[2020-09-12 10:00] #33 closed

[2020-09-12 11:16] shankar7545 opened #46 "Need UTR number  (unique transaction reference) number on Transaction Success"
For every UPI transaction , there will be a UTR transaction numbers. It will be useful to verify the transaction from User. I can't see this option anywhere, if its already exists then please let me know how to utilize it.

[2020-09-12 11:51] PatilShreyas commented on #46
Currently, only transaction ID and transaction reference ID are provided by UPI apps whenever payment is done. These guidelines are prepared by NPCI. So we can't go beyond that.

[2020-09-12 12:50] shankar7545 commented on #46
oh Yeah , but i got some sourcecodes for upi payments. using them i can get UTR number onTransactionSuccess.

For better Understanding i created an application and uploaded the codes to github.
Here is the link
https://github.com/shankar7545/upiPayment.git

and apk link

https://github.com/shankar7545/upiPayment/blob/master/app-debug.apk

I recently started learning android and i have no knowledge

[2020-09-12 14:55] PatilShreyas commented on #46
I got your point. But the term you said "UTR" is actually a `approvalRefNo` which is already provided by this library. I saw your code which is also going same.

See this: https://patilshreyas.github.io/EasyUpiPayment-Android/#/pages/transaction-details

[2020-09-12 15:00] shankar7545 commented on #46
thank you , my issue is solved

[2020-09-12 15:14] shankar7545 commented on #46
I tried to get approvalRefNo but it always returns null.

I tried with phonepe and gpay.

Even with the demo app provied in this library. It returned null

[2020-09-12 15:36] PatilShreyas commented on #46
Yes, returning that value depends on UPI app. We're collecting it as per NPCI rules as you can see here: https://www.npci.org.in/sites/default/files/UPI%20Linking%20Specs_ver%201.6.pdf

In your code, you're assuming UTR number as ***ApprovalRefNo*** or ***txnRef***.

[2020-09-12 16:08] shankar7545 commented on #46
But the codes i referred can fetch the UTR number as txnRef  , and using EasyUPI Payment (approvalRefNo) it is returning null .

Anyway the library is of great help and very minimal code.

[2020-09-12 17:28] PatilShreyas commented on #46
Thanks. If you wang txnRef then it's also available here. You can retrieve
it from transaction details. We can't control on response of UPI apps which
actually performs transaction. All here implemented according to NPCI
guidelines. Nothing other than that.

On Sat 12 Sep, 2020, 9:38 PM Shankar Chowdary, <notifications@github.com>
wrote:

[2020-09-13 08:07] PatilShreyas commented on #46
I hope this query is resolved now. Can I close this issue? @shankar7545

[2020-09-13 08:08] shankar7545 commented on #46
Yes sure

[2020-09-13 08:10] #46 closed

[2020-09-13 15:28] Priya730 commented on #44
Hi! I am new to open source and I propose to fix the existing minor grammatical errors, typos, and other improvements in the documentation:
I can submit the pull request during Hacktoberfest. Please assign this to me so that I can make changes and submit the PR. Also please suggest any further improvements if needed.
Thank you!

[2020-09-13 15:48] PatilShreyas commented on #44
Sure! Thanks @Priya730

[2020-09-16 03:25] anurag141 opened #47 "[BUG/FEATURE REQUEST] This not returning transaction id generated from upi application"
This not returning transaction id generated from upi application
so can you please tell me that how can i get transaction id generated form upi application

[2020-09-16 03:33] anurag141 commented on #47
approvalRefNo:null,

[2020-09-16 08:53] PatilShreyas commented on #47
Actually returning transaction ID is the responsibility of UPI apps. But some apps like PhonePe doesn't return transaction ID which is generated by them. You can use `transactionId` for getting transaction ID generated by UPI apps.

Since this issue isn't associated with this library, I'm closing this issue.

[2020-09-16 08:53] #47 closed

[2020-09-16 08:56] anurag141 commented on #47
I am not able to get transaction id from other apps also like Google pe ,
and bhim

On Wed, 16 Sep 2020, 2:24 pm Shreyas Patil, <notifications@github.com>
wrote:

[2020-09-16 10:44] PatilShreyas commented on #47
It's because these apps not returning transaction ID.

[2020-09-30 13:14] rohitjakhar commented on #45
haroldadmin

[2020-09-30 13:15] rohitjakhar commented on #45
Hi @shankar7545 , assign me this issue i will fix it.

[2020-09-30 13:25] shankar7545 commented on #45
How to assign?

[2020-10-02 07:51] mallipurna03 opened #51 "No UPI app exists on this device to perform this transaction."
This libray is very helpful for us to handle UPI payments with simple steps. Great work but i am facing below issue when i used this libray. Please help me to resolve this issue. Once i tap payment from the sample app and if no application available in my device getting crashed.

com.shreyaspatil.easyupipayment.exception.AppNotFoundException: No UPI app exists on this device to perform this transa

[2020-10-02 11:07] goforbg commented on #51
Can I take this up @PatilShreyas ?

[2020-10-02 11:32] PatilShreyas commented on #51
But what you'll do to solve this issue @goforbg?

[2020-10-02 11:32] PatilShreyas commented on #51
As the problem mentioned in this issue. This is already expected behaviour

[2020-10-02 11:35] goforbg commented on #51
@PatilShreyas I'm seeing an official list athttps://www.npci.org.in/upi-PSP%263rdpartyApps

We can maintain a list of array of packages, write a small util function see if those packages are installed using Package Manager and wrap it inside a try catch.

[2020-10-02 11:41] PatilShreyas commented on #51
@goforbg It's already implemented.

[2020-10-02 14:26] mallipurna03 commented on #51
yes, even it is crashing..

[2020-10-03 10:11] #44 closed

[2020-10-10 14:43] pryanshuarora commented on #39
@nageamol  DId you hit this issue . The project seems to be really good and I was thinking of integrating this with my App. Want to know if you have encountered any such issue again.

[2020-10-19 11:01] ItzNotABug commented on #45
This PR https://github.com/PatilShreyas/EasyUpiPayment-Android/pull/54 should fix this, if merged.

[2020-10-19 11:08] ItzNotABug commented on #51
This is an expected behaviour as per the current code.

@PatilShreyas,
Maybe show an error warning in the console or maybe add one more method to the Listener when no apps are found?
Avoiding a straight-up crash can be good.

[2020-10-19 11:41] adarsh45 commented on #51
I am facing a similar issue.
I have taken care of AppNotFoundException with log and a toast
But still, the app crashes when no payment app is available on the phone.
Please also guide me if I am doing something wrong while writing code.

[code]

[2020-10-19 16:00] ItzNotABug commented on #51
First of, there's no need to use a `try/catch` block to create the `builder` variable.
Secondly, can you share the stack-trace?

[2020-10-20 06:04] nageamol commented on #39
@pryanshuarora Not able to reproduce issue. same issue encounterd again and again. and the issue is only for PAYTM UPI so rest of all  is working fine. Daily transaction of my client is 1-2 lac and all are only from UPI. so we disabled PAYTM for now.

[2020-10-20 06:26] PatilShreyas commented on #39
So this issue is not associated with this library. Can we close this? @nageamol

[2020-10-20 06:33] nageamol commented on #39
@PatilShreyas This is associated with may be paytm. anyway you can close it.

[2020-10-20 08:08] PatilShreyas commented on #39
I'm closing this. Still, if you found how to reproduce it then please share with us.

[2020-10-20 08:08] #39 closed

[2020-10-22 14:53] govindowlok0 opened #55 "I using this code but thair are show you can not make upi payment can you help me please"
Write information about Bug/Feature Request here

[2020-10-22 14:58] PatilShreyas commented on #55
Can you please describe the problem you're facing?

On Thu 22 Oct, 2020, 8:23 PM govindowlok0, <notifications@github.com> wrote:

[2020-10-22 15:17] govindowlok0 commented on #55
see this url of phonepay scrren shot
https://ibb.co/bWnm79q

[2020-10-22 15:18] govindowlok0 commented on #55
also when i try i face this issue see this image url
https://ibb.co/Wc1ddjV

[2020-10-22 15:20] PatilShreyas commented on #55
I saw this, this problem is associated with your UPI profile and Bank account. Since it's not associated with this library, closing this issue.

[2020-10-22 15:20] #55 closed

[2020-10-22 15:23] govindowlok0 commented on #55
not bank side issue sir i have try 5 different upi  id

[2020-10-22 15:26] govindowlok0 commented on #55
i have install your demo aap and try to send suing bhim and paytm i face same issue please solve it thankyou

[2020-10-22 15:33] govindowlok0 commented on #55
Please help me sir i use this library last 5 month for collecting amount for user

[2020-10-22 15:36] govindowlok0 opened #56 "Hello sir"
I have install your demo app and try to send amount to user simmiler issue is coming - in gpay , phonepe, paytm
can you check it in you own demo app please sir
i used this library last 5 month but last 2 day not working please solve it

in Advance Thank you

[2020-10-22 16:21] PatilShreyas commented on #56
As I explained in the previous issue, this is associated with your UPI account as you've exhausted limit of daily UPI transactions. Because only 10 transactions are allowed for a day. If you test it tomorrow, it'll work fine. Because this issue is not related to this library please don't open such issues here.

[2020-10-22 16:21] #56 closed

[2020-10-23 07:58] SukarnaSil opened #62 "TRANSACTION via Google Pay & PhonePe not working"
I am trying to make payments via Google Pay, PhonePe & Paytm. The payments via Google Pay & PhonePe are getting failed!.

In Google Pay, although the transaction limit is not reached, it is showing limit reached.
In PhonePe, its showing technical errors.

Now, while I am trying to do the payments via GPay or PhonePe apps, there is no such problem.

PLease guide me!

[2020-10-24 09:04] Chhokra commented on #62
Yes we're facing this issue as well

[2020-10-24 09:20] Chhokra commented on #56
@PatilShreyas  this is not true. Because the payment apps are working outside the demo app. But not in the demo app itself. Hence the transaction limit hasn't been reached(neither 10 payments nor 1 lakh INR)

[2020-10-24 09:25] govindowlok0 commented on #62
i'm also facing this issue last 2 day please help me

[2020-10-24 09:26] govindowlok0 commented on #62
same issue facing lst 2 days i have try 5 library  to upi intent not getting error

[2020-10-24 09:28] govindowlok0 commented on #56
please help me i'm doing RND last 2 days not gating success

[2020-10-24 10:16] govindowlok0 opened #63 "this code not working since 2 day can you tall me what's issue with this code"
Write information about Bug/Feature Request here

[2020-10-24 10:17] govindowlok0 opened #64 "[BUG/FEATURE REQUEST] TITLE HERE"
I am trying to make payments via Google Pay, PhonePe & Paytm. The payments via Google Pay & PhonePe are getting failed!.

In Google Pay, although the transaction limit is not reached, it is showing limit reached.
In PhonePe, its showing technical errors.

Now, while I am trying to do the payments via GPay or PhonePe apps, there is no such problem.

PLease guide me!

[2020-10-24 14:21] venkatbatchu81 opened #65 "Getting Payment failed message"
Hi Shreyas,

Thanks for this wonderful library, I am getting Payment failed "You've exceeded the maximum transaction amount set by your bank" after integrating with this, but i am able to make the payments without any issues using google payment app, could you help me to guide here.

Please view the snapshot for reference https://ibb.co/q0DSGtY

[2020-10-24 14:44] PatilShreyas commented on #65
Hi, I verified this problem and found that Google Pay's Intent Payment isn't working. They'll fix it at their end. Since this issue isn't related to this library, I'm closing this issue. Thanks!

[2020-10-24 14:44] #65 closed

[2020-10-24 14:45] PatilShreyas commented on #64
Hi, I verified this problem and found that Google Pay's Intent Payment isn't working. They'll fix it at their end. Since this issue isn't related to this library, I'm closing this issue. Thanks!

[2020-10-24 14:45] #64 closed

[2020-10-24 14:45] #63 closed

[2020-10-24 14:46] PatilShreyas commented on #62
Hi, I verified this problem and found that Google Pay's Intent Payment isn't working. They'll fix it at their end. Since this issue isn't related to this library, I'm closing this issue. Thanks!

[2020-10-24 14:46] #62 closed

[2020-10-24 17:41] venkatbatchu81 commented on #65
Thanks Shreyas for the reply

Could you share any info from google if you had any stating that they are
working on this to fix issue,.

Thanks,
Venkat Batchu

On Sat, 24 Oct, 2020, 8:14 PM Shreyas Patil, <notifications@github.com>
wrote:

[2020-10-25 02:21] PatilShreyas commented on #65
I'll surely post updates if I got any

[2020-10-26 01:09] venkatbatchu81 commented on #65
Thanks Shreyas, Do you have any library for iOS Apps as well similar to
this awesome library.

Regards,
Venkat Batchu

On Sun, Oct 25, 2020 at 7:51 AM Shreyas Patil <notifications@github.com>
wrote:

[2020-10-26 03:03] PatilShreyas commented on #65
Currently there's no such library for iOS which directly communicates with UPI apps

[2020-10-27 18:27] sz32 commented on #65
Yes I'm also getting issue as well as Paytm and google pay also

[2020-10-28 05:28] varunagharav opened #67 "[BUG] All UPI payments are failing"
Write information about Bug/Feature Request here
The Problem
No matter what UPI app I trigger, it just says, "Maximum limit exceeded...." and the transaction just got failed.
NO ERROR MESSAGE IS LOGGING

[2020-10-28 11:49] iroidzeel commented on #65
Today I contacted to Google pay customer service and they said they didnt have any issues from their side I must be from the developer side

[2020-10-28 12:22] Chhokra commented on #65
Yeah this happened to me too. @PatilShreyas , who did you talk to on Google's side? They redirected me to sign up on  Google pay for business program

[2020-10-28 12:56] aniket5687 commented on #67
I got the same problem. How to this solve.
PhonePe Error: For Security Reasons, you are not allowed to send money from your bank account for this payment. Note: You don't have to enter your BHIM UPI PIN to receive Money/cashback.
Google Pay Error: Maximum limit exceeded....

[2020-10-29 05:24] govindowlok0 commented on #67
i have solution regarding this issue ------ Receiver upi id as person upi id not working you can change as business upi id

[2020-10-29 07:04] aniket5687 commented on #67
I have 1 business bank account. UPI id created this account. But again same issue.

[2020-10-29 07:07] govindowlok0 commented on #67
Can you share after @ upi id

[2020-10-29 07:11] aniket5687 commented on #67
you can send your personal email id. i can send it. i'll not send publically.

[2020-10-29 07:54] govindowlok0 commented on #67
govindowlok0@gmail.com

[2020-10-29 11:37] muthuvel2 commented on #67
Even I'm facing the issue. Exploring it.

[2020-10-29 14:39] muthuvel2 commented on #67
Now it started working with BHIM, issue still exist with Gpay.

I'm planning to report this issue with NPCI.

In stackoverflow also someone reported it https://stackoverflow.com/questions/62953449/getting-error-you-have-exceeded-the-maximum-transaction-amount-set-by-your-bank

[2020-10-29 16:35] sz32 commented on #67
Hello did anyone get solution?

[2020-10-30 04:04] itsaxay opened #69 "[BUG] How to confirm transaction is from valid psp?"
How can i confirm transaction is from valid psp (like gpay, phonepe.. etc)

[2020-10-30 05:18] govindowlok0 commented on #67
Receiver upi id as person upi id not working you can change as business upi id

[2020-10-30 07:13] varunagharav commented on #67
I have check that who ever has register UPI for business will get an MCC and only that will pay through this method.

[2020-10-30 11:12] Chhokra commented on #67
It's still failing for me in BHIM as well

[2020-10-30 11:17] Chhokra commented on #67
but what if my app specifically targets all UPI ids not just business UPI id?

[2020-11-02 08:11] elugoti opened #71 "Payments failing"
Always getting error message "you've exceeded the maximum transaction amount set by your bank", I hope this logic no longer working and UPI might have made some changes for this type of 3rd party payments, any updated working solution @PatilShreyas

[2020-11-03 09:51] PatilShreyas commented on #71
Duplicate #67

[2020-11-03 09:51] #71 closed

[2020-11-03 09:52] PatilShreyas commented on #69
Currently there's no such feature available

[2020-11-03 09:53] #51 closed

[2020-11-03 09:53] PatilShreyas commented on #51
Since this is expected and working fine, closing this

[2020-11-03 10:51] anurag141 commented on #67
any solution ?

[2020-11-04 11:17] sauravkumar123 opened #72 "Limit exceeded issue!!"
Write information about Bug/Feature Request here

[2020-11-04 11:41] PatilShreyas commented on #72
Duplicate #67

[2020-11-04 11:41] #72 closed

[2020-11-05 17:53] sz32 commented on #67
we all are getting issue in UPI intent flow. we tried all things like Merchant UPI id and so many other things.

and I found something that they made changes in UPI intent flow so tried but couldn't able to understand so i shared a link @PatilShreyas  please look into it it may be help for the solution there is yellow marked for highlighting the important things.

https://web.archive.org/web/20200

[2020-11-10 00:48] abhitulse commented on #67
There are two things which we need to do compulsory.
- Use pa, pn, mc, tr, tn, am and cu append Query Parameters. In so many tutorials mc is not mentioned or commented.
`Uri uri = Uri.parse("upi://pay").buildUpon()
                .appendQueryParameter("pa", "upiId")
                .appendQueryParameter("pn", "Payee Name")
                .appendQueryParameter("mc", "Payee merchant code") //this

[2020-11-10 00:52] abhitulse commented on #67
[https://www.blueappsoftware.com/google-pay-error-bank-limit-exceeded/](url)

[2020-11-10 13:30] ejaz886 opened #73 "Payment desclined"
Payment Declined for security reason msg coming till know its working well sudden transection failed , how to solve this problem
let me know

[2020-11-13 07:25] TheNewMrRobot opened #74 "upi apps not opened"
Phonepe,google Pay is not working.but other apps like amazon pay are working

[2020-11-13 17:21] sz32 commented on #67
Hello,
Here i got solution and perfectly worked with all other UPI methods. I tried and tested.

https://www.blueappsoftware.com/google-pay-error-bank-limit-exceeded/

[2020-11-13 17:31] Chhokra commented on #67
@sz32 you found a solution?

[2020-11-15 10:30] abhitulse commented on #67
yes

[2020-11-15 10:30] abhitulse commented on #67
@sz32 refer this

[2020-11-15 10:46] PatilShreyas commented on #73
Duplicate #67

[2020-11-15 10:46] #73 closed

[2020-11-15 11:01] PatilShreyas commented on #67
@abhitulse Thanks for the link with a reference. I tried it but not getting success (Because I put wrong value for `mc`). I just had a question, so this UPI payment via Intent will be only limited for merchants and not for regular users, right?

[2020-11-15 11:04] PatilShreyas commented on #74
Duplicate #67

[2020-11-15 11:04] #74 closed

[2020-11-15 11:07] #43 closed

[2020-11-15 13:12] #67 closed

[2020-11-15 13:14] PatilShreyas commented on #67
Thanks @abhitulse for letting us know about the solution with good references. This has been fixed in the latest version `v3.0.1` of the EasyUpiPayment library. Now onwards, payment will be only processed for a payee having a valid merchant account. It won't work for general UPI user. Please note it. Thanks to the people for participating in the discussion and helped in solving this issue.

Thanks

[2020-11-15 19:32] SoniKarsh commented on #67
@PatilShreyas from where can I get merchant code? I have merchant id but couldn't find merchant code anywhere?

[2020-11-16 01:56] PatilShreyas commented on #67
@SoniKarsh You can keep it blank also, but UPI VPA should be of merchant

[2020-11-16 02:22] SoniKarsh commented on #67
@PatilShreyas I have registered my UPI with Business apps like Google business and Paytm business but that doesn't work as well.

Is there a different procedure for Merchant UPI or it is as I mentioned?

[2020-11-16 03:43] PatilShreyas commented on #67
@SoniKarsh there's no extra procedure as of now. I think you're missing something.

[2020-11-16 03:55] SoniKarsh commented on #67
@PatilShreyas ohkay thanks for your reply. I'll try and let you know if I get any success.

[2020-11-18 07:30] codehustler53 commented on #67
Can anyone confirm whether this update works or not?

[2020-11-18 08:32] aniket5687 commented on #67
Work Google pay others not checked.

On Wed, 18 Nov 2020, 1:00 p.m. codehustler53, <notifications@github.com>
wrote:

[2020-11-18 08:34] codehustler53 commented on #67
Can you share me your merchant UPI id because I have used mine but not working.

[2020-11-18 08:44] SoniKarsh commented on #67
Mine is keep failing even with merchant UPI. Getting same error. I have also attached Merchant code.

One question - My UPI id will stay the same as it was before registering for Google business right?

[2020-11-18 08:44] aniket5687 commented on #67
Receiver upi I'd used in business upi I'd and merchant I'd.

On Wed, 18 Nov 2020, 2:05 p.m. codehustler53, <notifications@github.com>
wrote:

[2020-11-18 08:46] codehustler53 commented on #67
I have my UPI id and using that I have registered for google pay business then My current UPI id will be used as Merchant UPI id right?

[2020-11-18 11:19] chhota89 commented on #67
How to get the mc (Payee merchant code)?

[2020-11-18 11:21] codehustler53 commented on #67
https://fs.fldfs.com/iwpapps/pcard/docs/MCCs.pdf

here's a list of MCC. You can find the MCC and try and if it works please do let me know.

[2020-11-20 06:41] codehustler53 commented on #67
It works with Google pay, Phone pe, and Paytm. Doesn't works with Amazon pay as amazon pay responds with pending status instead of success and the pending flag is not maintained by this repository.

[2020-12-07 10:49] Chhokra opened #80 "[Issue] Query about the new release"
Write information about Bug/Feature Request here
So with the new update it isn't possible for us to pay to non-merchant accounts. But my doubt is does the user(us) need to have a merchant/business account as well? Or can we the user have a normal account and pay any merchant account?

[2020-12-07 10:55] Chhokra commented on #67
Does this mean the payer(me) needs to have a merchant account as well?

[2020-12-07 11:18] SoniKarsh commented on #67
Not at all bro. Payer or the user who is paying can be a normal account holder or merchant but the account which is receiving the money should be of merchant type.

[2020-12-07 11:23] Chhokra commented on #67
Thanks for the quick response. My payments are still failing and its possible because I can't look up the merchant code through the QR codes. How to go about this?

[2020-12-07 11:25] SoniKarsh commented on #67
Merchant code is not necessary at all you can keep it blank the only restriction is that it should be there whether with its value or keep it blank.

Still if you want to look for merchant code.

You can find it this way. ..

https://fs.fldfs.com/iwpapps/pcard/docs/MCCs.pdf

[2020-12-17 10:48] varunkudalkar commented on #45
@ItzNotABug @PatilShreyas  Any updates on this PR?

[2020-12-17 14:22] satish6155 opened #83 "[BUG] Sample APK not working on my Redmi note 9 pro max device"
Sample APK not working on my Redmi note 9 pro max device, tried PhonePay and GPay, please check.

[2020-12-17 14:33] satish6155 commented on #83
I think your code has stopped working because some changes has been introduced by NPCI in deep linking of UPI, please try running your app once and check whether it is working or not.

[2020-12-17 15:17] PatilShreyas commented on #83
I cross checked using PhonePe and WhatsApp UPI and it's perfectly working fine at my end.

Maybe issue is something related to values you're putting there.

[2020-12-17 15:18] PatilShreyas commented on #83
So I think it's not an issue so closing this. Still you can discuss here.

[2020-12-17 15:18] #83 closed

[2020-12-17 15:44] satish6155 commented on #83
![Screenshot_2020-12-17-21-10-57-815_com example easyupipayment](https://user-images.githubusercontent.com/47608162/102509687-d3fc1e00-40ac-11eb-97d8-697ba3fd5804.jpg)
![Screenshot_2020-12-17-21-11-28-612_com example easyupipayment](https://user-images.githubusercontent.com/47608162/102509693-d6f70e80-40ac-11eb-8a9b-f73738ef1d92.jpg)

[2020-12-17 15:45] satish6155 commented on #83
Check screenshots in above comment.

[2020-12-17 15:59] PatilShreyas commented on #83
Try with other apps

[2020-12-17 16:04] satish6155 commented on #83
Tried PhonePay also.

[2020-12-30 16:28] shyam123456789 opened #85 "[BUG/FEATURE REQUEST] TITLE HERE"
Write information about Bug/Feature Request here
![WhatsApp_Image](https://user-images.githubusercontent.com/30208709/103367060-26e0c700-4aea-11eb-8150-4316d4c1f7ff.jpeg)

[2021-01-06 06:07] sunnyagarwal008 opened #87 "[BUG] Getting error: Maximum transaction amount limit exceeded for all transactions"
Hi,

This was working perfectly, but now I am getting "Maximum transaction amount limit exceeded" for any transaction amount (tried from 1-100) and for all apps (tested on PayTm, PhonePe, GooglePe).

Are you aware of any changes done from UPI end which might have caused this?

[2021-01-06 06:46] PatilShreyas commented on #87
It needs merchant code now. It'll work if you provide it.

[2021-01-06 06:55] sunnyagarwal008 commented on #87
But that means it won't work for individual upi accounts who don't have merchant codes?

[2021-01-06 06:56] PatilShreyas commented on #87
Yes it won't. Please read docs carefully.

[2021-01-06 06:56] #87 closed

[2021-01-10 12:42] prvnsam commented on #80
yes am also have this doubt please confirm

[2021-01-11 10:43] AtulYadav01 opened #88 "Issue, App is installed in the phone but it is shwoing no such app is installed"
Write information about Bug/Feature Request here
I have GooglePay, Phonepe, Amazon Pay installed on my mobile but whenever I select payment app.GOOGLE-PAY, it is showing no UPI app found with package name com.google.android.apps.nbu.paisa.user exists on this device.
`
                if (upigpay == "1") {
                    val dialog = Dialog(this@AddFunds)
                    val li =

[2021-01-11 12:15] PatilShreyas commented on #88
This is because Google pay application can't be found on your device

[2021-01-11 12:30] PatilShreyas commented on #88
Just open google pay manually before demo app and close it and then try

[2021-01-12 07:36] PatilShreyas commented on #88
Since this is not actually an issue, closing this

[2021-01-12 07:36] #88 closed

[2021-01-12 07:36] PatilShreyas commented on #85
Can't get it. Please describe the exact issue. Feel free to reopen.

[2021-01-12 07:36] #85 closed

[2021-01-12 07:41] PatilShreyas commented on #80
I can only say, merchant code field is mandatory but we can keep it empty! When I personally tried, payment is only successful when payee is having business/merchant account. It's not successful for general UPI account. I hope this helps.

[2021-01-12 07:41] #80 closed

[2021-01-12 07:50] AtulYadav01 commented on #88
I am doing that, the app is opened in background but still it is showing no app is installed, even your example apk tha you provided with the Library is also showing same error.

[2021-01-18 06:04] KrishnaSoftwareSolution opened #89 "Phone Pe, BHIM Not show in Android 10"
After integrating in Anroid 10, only Google Pay shows in payment dialog.
Other pay upi not showing

[2021-01-18 06:47] PatilShreyas commented on #89
Maybe the apps which you mentioned are not frequently used. Try opening them and again open with UPI library.

[2021-01-18 06:50] KrishnaSoftwareSolution commented on #89
Hello there,
All apps are frequently used.
And also done opening and closing, still only Google Pay shows.

On Mon, Jan 18, 2021 at 12:17 PM Shreyas Patil <notifications@github.com>
wrote:

[2021-01-19 10:39] anirudh3997 opened #91 "[BUG] Payments not completed"
As given in the documentation have provided all the details but payment fails
1. google pay shows error "You have exceeded maximum transaction amount set by your bank" while other transaction to other places works just fine.
2. phonepay shows error " Could not initiate transaction. Please try again.."
` easyUpiPayment = EasyUpiPayment(this){
            this.payeeVpa = "vpa@sbi"
            this.p

[2021-01-19 11:10] KrishnaSoftwareSolution commented on #89
Some security changes in Android 10
With direct invoking using package name is also showing invalid package name for phone pe

[2021-01-19 12:36] PatilShreyas commented on #89
Thanks for reporting this. Will try to fix it soon

[2021-01-20 10:09] venkataseshaiahudatha commented on #91
I'm also getting same error. Can someone please help on the same. I'm trying to send money to personal UPI account and it is failing always with above mentioned errors.

[2021-01-21 14:58] KrishnaSoftwareSolution commented on #89
Did you find problem ?
Why it is not invoking using package name itself ?

[2021-01-22 16:43] fastcash-ops commented on #91
Currently it works only with merchant UPI ids

[2021-01-25 07:38] sandydebug commented on #91
With merchant UPI id also it is showing error .
<Payment failed , something went wrong(UPVD)>

[2021-01-29 12:56] fastcash-ops commented on #91
Pass empty string in merchat code (mc) while you initiate intent

[2021-01-29 13:02] sandydebug commented on #91
Yes , leaving the merchant code parameter blank works for upi payment only if you have passed a business upi id.

[2021-01-29 13:05] fastcash-ops commented on #91
Anyone please tell me is there any limit on number on transactions or amount limit for this type of integration ?

[2021-01-29 13:07] sandydebug commented on #91
No there is no limitations on app initiated payment , but there might be limitations set by bank like monthly amount of transaction or daily number of transactions . Vary from bank to bank.

[2021-02-08 06:09] KrishnaSoftwareSolution commented on #89
Did you find any solution ?

[2021-02-23 14:53] bkubes opened #96 "Few customers are facing issues"
Hi Shreyas,

Could you please help me to look into this issue?

Few customers are able to do the transaction and few customers are not and it is not going into Successful transaction-message though amount gets deducted from their account.

Thanks

[2021-02-27 09:36] sankarwap opened #97 "Android 11 Force Closed"
AppNotFoundException: No UPI app exists on this device to perform this transaction

In App module manifest add the  below queries working fine.
`<queries>`
        `<package android:name="in.amazon.mShop.android.shopping" />`
        `<package android:name="com.google.android.apps.nbu.paisa.user" />`
        `<package android:name="in.org.npci.upiapp" />`
        `<package android:name="com.phonep

[2021-03-06 07:04] bkubes opened #98 "GPAY is thowing error message "This transaction may be risky. For your safety. It cant be completed at this time""
Dear Shreyas,

Out customers are facing issues while paying the money through Gpay and here is the error message "This transaction may be risky. For your safety. It cant be completed at this time".

Could you suggest if we can do anything over here, thanks for your time .

[2021-03-06 20:50] ShankarKakumani commented on #98
Yeah, This error is showing in most of the payment apps

[2021-03-06 20:54] ShankarKakumani commented on #97
Yeah, From android 11, we need to add package names of the applications in the manifest

[2021-03-10 09:32] kiranthati521 commented on #98
This transaction may be risky. For your safety. It cant be completed at this time
same issue am also getting how to fix this issue please let me know

[2021-03-22 20:15] harryAggarwal opened #107 "GPay Issue"
We are using this library but its showing Error :  OOPs, Something went wrong with valid merchant upi only working with BHIM UPI

[2021-03-22 20:17] harryAggarwal commented on #91
Iam still facing the issue something went wrong after pass empty string in merchant code .

[2021-03-22 20:19] harryAggarwal commented on #91
Some times its showing :

this transection may be risky. For your Safety its can't be completed at this time

[2021-03-23 04:26] abhilash-gupta commented on #98
Facing same issue as above, (using Google Pay and merchant UPI ID)
This transaction may be risky. For your safety. It cant be completed at this time

Here's the code:
EasyUpiPayment.Builder builder = new EasyUpiPayment.Builder(this)
                        //.with(PaymentApp.GOOGLE_PAY) // pays specifically with Google pay
                        .setPayeeVpa(upiID)
                        .setPay

[2021-03-23 09:00] AtulYadav01 commented on #89
Did anyone find any solution?

[2021-04-02 03:13] ak-singla opened #109 "[BUG] Payment Declined for Security Reasons"
![D71589BA-0DB9-4E42-9976-D4E7492ACB3F](https://user-images.githubusercontent.com/6893693/113376403-47d9e200-938f-11eb-8a7a-e45a0dd4a37a.jpeg)

Payment declined.

For security reasons, you are not allowed to send money from your bank for this payment.

You don’t have to enter your UPI pin to receive money/cash back.

[2021-04-05 06:59] rohitanacr7 commented on #98
Dear Shreyas,

Out customers are facing issues while paying the money through Gpay and here is the error message "This transaction may be risky. For your safety. It cant be completed at this time".

Could you suggest if we can do anything over here, thanks for your time .

[2021-05-03 12:22] venkataseshaiahudatha commented on #91
Is it possible to use this library to send money from the Merchant account to other vice-versa? I have a requirement to redeem cash from App. Where the merchant has to send back money to normal users. I observed few things here 1)  I'm not able to see the Business app in filtered payment apps.2) Is it possible to send money from merchant business app to normal users using a UPI intent-based approa

[2021-05-19 12:32] AshishKumarYadav opened #112 "App not found exception in android 11"
This is the exception I'm facing

W/System.err: dev.shreyaspatil.easyupipayment.exception.AppNotFoundException: No UPI app with package name 'com.phonepe.app' exists on this device to perform this transaction.

[2021-05-20 04:40] PatilShreyas commented on #112
This exception comes up when UPI applications do not exist on your device. Do you have them on your device?

[2021-05-20 12:44] AshishKumarYadav commented on #112
Yes I have the UPI apps like Gpay, PhonePe, Paytm.

I tried all the PAYMENT_TYPE.ALL/PAYMENT_TYPE.GPAY/PAYMENT_TYPE.PHONE_PE none is working.

[2021-05-20 13:00] AshishKumarYadav commented on #112
Even your demo app is not working in my device. Getting ANR.

[2021-05-21 14:56] supertramp09 commented on #112
Same Here. Getting the exception even though I have mutliple UPI apps installed.

[2021-05-28 09:46] basheerbsr79 opened #113 "Showin "Cancelled" toast in some devices while click pay button , and after it returned to home page ."
All UPI Paymnent failed in some devices Like Poco F1.

After click pay button showing a toast "Cancelled" and app will return to the payment page .
Phone Specification photo and and its video is attached ,

https://user-images.githubusercontent.com/74948893/119965198-a4403300-bfc7-11eb-880f-f838d3064c7d.mp4

![WhatsApp Image 2021-05-23 at 9 52 44 PM](https://user-images.githubusercontent.com/74948

[2021-05-28 10:07] PatilShreyas commented on #113
@basheerbsr79 Thanks for reporting this. But if payment is cancelled from UPI apps and let's say payment is declined then UPI app is closed and library doesn't gets response from UPI app then it's considered as a ***Cancelled*** payment. Also, I think then this is correct. Right>

[2021-05-28 10:24] basheerbsr79 commented on #113
@PatilShreyas Thanks for your response. but the same UPI working on many phone . and the payment is automatically cancelled by the phone . what is the reason for some device has only the problem..?

[2021-05-28 10:31] PatilShreyas commented on #113
The payment information is also same across all the devices?

[2021-05-28 11:02] basheerbsr79 commented on #113
@PatilShreyas yes

[2021-05-28 11:12] basheerbsr79 commented on #113
@PatilShreyas yes . the same details is working fine with Mi 10 i Device

![WhatsApp Image 2021-05-28 at 4 42 14 PM](https://user-images.githubusercontent.com/74948893/119975630-b6c06980-bfd3-11eb-95c2-4c18e0f08205.jpeg)

https://user-images.githubusercontent.com/74948893/119975440-7bbe3600-bfd3-11eb-8c5f-f3ade58a6d88.mp4

[2021-05-28 13:52] sangram-chavan opened #114 "Unable to Pay to UPI id"
Entered all details correctly

Reason for Failure BHIM App show

"RISK THRESHOLD EXCEEDED"

response code : U16

Same tried directly from UPI I'd I works

[2021-05-29 13:42] sharma00praful commented on #67
this issue should re-open. as payments are keep on failing even with mc.
i use this link upi://pay?pa=X@ybl&pn=name&mc=5965&tr=xyz123&tn=test&am=1&cu=INR"

[2021-05-30 15:32] mathantechsolutions commented on #112
Same here i am also getting no upi apps found but i have installed gpay,phonepe and paytm . i think this error maybe android 11 issue we have to add query tag in manifest but i don't know exactly

[2021-06-04 07:17] AnkitVerma8584 opened #115 "No Upi app found crash!"
I tested my app which had not upi app installed. While trying to start payment. App crashes with FATAL Exception saying  No UPI app exists on this device to perform this transaction

Here is my Logcat

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.libhub/dev.shreyaspatil.easyupipayment.ui.PaymentUiActivity}: dev.shreyaspatil.easyupipayment.exception.AppNotFoundExce

[2021-06-04 07:18] AnkitVerma8584 commented on #115
I have already enclosed the code in try catch but there is a crash anyways.
This crash didn't happen in version 2.2 .There it showed a toast that no upi app found. But here it crashes

[2021-06-25 10:55] aniket5687 commented on #115
I have the same problem. my mobile is supported android 11. I have update the latest version for android 11 support. But not working same issue No UPI app. Please Solve This Problem

[2021-06-27 16:10] mathantechsolutions commented on #109
Please confirm if you are using merchant upi id for making payments

[2021-06-29 08:43] aniket5687 commented on #115
I have the same problem. my mobile is supported android 11. I have update the latest version for android 11 support. But not working same issue No UPI app. Please Solve This Problem

[2021-06-29 09:47] PatilShreyas commented on #115
Thanks for reporting this issue. Looks like this is happening for devices having Android 11. Currently, I don't have any device having Android 11 to test this change. I've tried to fix this change and attached APK here 👇🏻.

[***Download Sample APK***](https://github.com/PatilShreyas/EasyUpiPayment-Android/raw/v3.0.3-dev/app/app-debug.apk)

It's my humble request to test the attached APK and please

[2021-06-29 09:47] PatilShreyas commented on #112
Thanks for reporting this issue. Looks like this is happening for devices having Android 11. Currently, I don't have any device having Android 11 to test this change. I've tried to fix this change and attached APK here 👇🏻.

[***Download Sample APK***](https://github.com/PatilShreyas/EasyUpiPayment-Android/raw/v3.0.3-dev/app/app-debug.apk)

It's my humble request to test the attached APK and please

[2021-06-29 09:48] PatilShreyas commented on #97
Thanks for reporting this issue. Looks like this is happening for devices having Android 11. Currently, I don't have any device having Android 11 to test this change. I've tried to fix this change and attached APK here 👇🏻.

[***Download Sample APK***](https://github.com/PatilShreyas/EasyUpiPayment-Android/raw/v3.0.3-dev/app/app-debug.apk)

It's my humble request to test the attached APK and please

[2021-06-29 09:48] PatilShreyas commented on #89
Thanks for reporting this issue. Looks like this is happening for devices having Android 11. Currently, I don't have any device having Android 11 to test this change. I've tried to fix this change and attached APK here 👇🏻.

[***Download Sample APK***](https://github.com/PatilShreyas/EasyUpiPayment-Android/raw/v3.0.3-dev/app/app-debug.apk)

It's my humble request to test the attached APK and please

[2021-06-29 09:56] AtulYadav01 commented on #89
Itill facing the same issue. I tested it on MI A3.

Still facing the same issue, i tried it on MI A3.

[2021-06-29 09:56] AtulYadav01 commented on #89
Still facing the same issue, i tested it on MI A3.

[2021-06-29 10:07] amitav13 commented on #112
I was able to see options for a upi app now. But the txn didn't go through - might be wrong input on my end.

[2021-06-29 10:36] PatilShreyas commented on #89
Okay, thanks for the quick response.

I think a temporary solution would be declaring package visibility needs from the application side where you're integrating this library. For e.g. you can add package names for UPI apps

[code]

For now, you can allow only specific apps for payment instead of choosing among any of them. I'll try to fix this issue ASAP from the library as well.

[2021-06-29 10:36] PatilShreyas commented on #112
Was this on Android 11 @amitav13?

[2021-06-29 10:37] PatilShreyas commented on #97
As @sankarwap mentioned

I think a temporary solution would be declaring package visibility needs from the application side where you're integrating this library. For e.g. you can add package names for UPI apps

[code]

For now, you can allow only specific apps for payment instead of choosing among any of them. I'll try to fix this issue ASAP from the library as well.

[2021-06-29 10:37] amitav13 commented on #112
Yep! Galaxy s20+, if that helps.

[2021-06-29 10:39] PatilShreyas commented on #112
Try sending money to the business account, it'll be successful. For a normal account, it doesn't work.

[2021-06-29 10:42] PatilShreyas commented on #96
Hi @bkubes I think it's a case of transaction being pending. In this case, amount gets deducted from account but status is neither successful or failure. In this case, application should provide payment support to the end users.

[2021-06-29 10:48] PatilShreyas commented on #89
Strange, it worked here

https://github.com/PatilShreyas/EasyUpiPayment-Android/issues/112#issuecomment-870460560

[2021-06-29 10:50] aniket5687 commented on #115
Not working Phone pe app and Google pay App install on my Phone but Error
was showing

On Tue, 29 Jun, 2021, 3:17 pm Shreyas Patil, ***@***.***>
wrote:

[2021-06-29 10:51] amitav13 commented on #112
Ah I didn't know there was a distinction for a business account. Is there a "test" public business account? Or is it possible to make one myself for testing?

[2021-06-29 10:53] PatilShreyas commented on #112
Create any business account using apps like GPay Business, PhonePe Business
App, Paytm Business App.

On Tue, Jun 29, 2021 at 4:21 PM Amitav Khandelwal ***@***.***>
wrote:

[2021-06-29 14:02] #89 closed

[2021-06-29 14:02] #97 closed

[2021-06-29 14:02] #112 closed

[2021-06-29 14:02] #115 closed

[2021-06-29 14:03] PatilShreyas commented on #115
Thanks, this has been fixed in the latest release `v3.0.3`.

[2021-06-29 14:04] PatilShreyas commented on #112
Thanks, this has been fixed in the latest release `v3.0.3`.

@amitav13 Really appreciate your time in helping me in testing it on the device. Thank you so much.

[2021-06-29 14:05] PatilShreyas commented on #97
Thanks, this has been fixed in the latest release `v3.0.3`.

[2021-06-29 14:05] PatilShreyas commented on #89
Thanks, this has been fixed in the latest release `v3.0.3`.

[2021-06-29 14:15] aniket5687 commented on #115
sample code upload in GitHub account. Please

On Tue, 29 Jun, 2021, 7:34 pm Shreyas Patil, ***@***.***>
wrote:

[2021-07-02 04:42] govindowlok0 opened #124 "I have solutions - -----GPAY is working When you register bank UPI ID like --- @dbs , @hdfc ok thanks me leter"
Write information about Bug/Feature Request here

[2021-07-02 04:44] PatilShreyas commented on #124
[Discussions](https://github.com/PatilShreyas/EasyUpiPayment-Android/discussions) is the proper place to discuss things. Closing this.

[2021-07-02 04:44] #124 closed, assigned to PatilShreyas

[2021-07-02 04:45] PatilShreyas commented on #114
Some UPI apps fail on payment processed through intents. So this is something where the library can't do anything. Payment should be done for business UPI account and it works for it.

[2021-07-02 04:45] #114 closed

[2021-07-02 04:47] PatilShreyas commented on #113
Yes, so this is expected behaviour. When the UPI app rejects payment it's considered a cancelled transaction. I saw you provided merchant code as `1` so that's why UPI app is rejecting payment.

[2021-07-02 04:47] #113 closed

[2021-07-02 04:48] PatilShreyas commented on #107
As mentioned in the [docs](https://patilshreyas.github.io/EasyUpiPayment-Android/#/?id=introduction), payment should be performed against business UPI account.

[2021-07-02 04:48] #107 closed

[2021-07-02 04:49] PatilShreyas commented on #109
As @mathantechsolutions mentioned, see [docs](https://patilshreyas.github.io/EasyUpiPayment-Android/#/?id=introduction) and check whether you're performing transaction against a valid merchant/business account.

[2021-07-02 04:49] #109 closed

[2021-07-02 04:50] PatilShreyas commented on #98
As mentioned in the [docs](https://patilshreyas.github.io/EasyUpiPayment-Android/#/?id=introduction) check whether you're performing transactions against a valid merchant/business account.

[2021-07-02 04:50] #98 closed

[2021-07-02 04:50] #96 closed

[2021-07-02 04:51] PatilShreyas commented on #91
As mentioned in the [docs](https://patilshreyas.github.io/EasyUpiPayment-Android/#/?id=introduction) check whether you're performing transactions against a valid merchant/business account.

[2021-07-02 04:51] #91 closed

[2021-07-02 07:14] govindowlok0 commented on #124
sorry for this i'm so exited to forgot write a details

I have solutions - -----GPAY is working When you register bank UPI ID like --- @dbs , @hdfc ok thanks me leter

[2021-07-08 05:50] mathantechsolutions opened #128 "Amazon pay"
After Succesfull payment through amazon pay app its always showing payment cancelled by user

[2021-07-10 12:58] basheerbsr79 opened #129 "[BUG] App Crashed while GPay Payment"
Write information about Bug/Feature Request here
Can't do GPay Payment on Moto G4 Plus Device Getting App Crash and Log will be the App not Found Exception. i will attaching video and my phone spec .

Android Studio Console

2021-07-10 18:29:17.344 31469-31469/com.example.easyupipayment E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.easyupipayment, PID: 31469
    java.lang.Runtim

[2021-07-10 13:03] basheerbsr79 commented on #113
Could you please let know more about the merchant code . actually i don't know what is the merchant code

[2021-07-17 19:56] marufnwu opened #130 "[BUG] Showing Feature Not Availabe"
Write information about Bug/Feature Request here
When initiate payment, It shows Feature not available in Toast.

[2021-07-26 05:06] viratsoft commented on #112
Not work in Android 11 (S10+) app crashed with "No upi app found, Please install to process". i have already have 3 upi app.

[2021-08-16 11:51] RandomCatGit commented on #98
This is caused by recent changes to security in UPI transactions to prevent fraud. See https://stackoverflow.com/a/68800878/4697928

[2021-08-22 03:03] bkubes opened #131 "Payment failed with the message You're trying to send money to a blocked UPI ID"
Greetings, Shreyas!
We're having problems transferring money right now; we get a notice that says "Payment failed." You're trying to send money to a blocked UPI ID; please try with another UPI ID. Could you double-check it?

Note: I'm just attempting to transfer funds to business accounts only.

[2021-08-22 16:08] #131 closed, assigned to nobody

[2021-08-22 16:09] bkubes commented on #131
Issue seems to be with the UPI Id, after re generating with other bank now we are able to proceed without any issues.

[2021-08-27 11:01] nikhildhanani opened #132 "Payment not complete"
Hello,
i am getting error when do payment and getting error like "**Your money has not been debited**".
i am getting this error in when make payment using google pay.
How can i solve this issues please help @PatilShreyas

[2021-09-03 06:19] lazydevpro commented on #124
@govindowlok0 can you add a bit more detail, what are you trying to say?

[2021-09-14 15:29] katesaikishore commented on #129
+1

[2021-09-15 03:09] katesaikishore opened #133 "No UPI app found on device."
I have installed Paytm, phonepe, and google pay Non of the app is recognizing.

When I only try to use payment.PHONE_PE it says

`No UPI app with package name 'com.phonepe.app' exists on this device to perform this transaction.`
I have read the previous issues but didn't found the solution please look into it

Android 6.0
Package version 3.0.3

Code I have used

[code]

[2021-09-30 07:11] faiyazmi197 opened #136 "[BUG] PAYMENT REQUEST DENIED"
App is launching UPI payment supported app, and it opens payment page with pin, but payment request not done successfully,
Phonepe : Getting payment declined due to security reason
Pyatm : payment failed
Gpay: your mondey has been not debited

OS : Android 11 (Oneplus nord)
@PatilShreyas please look into this

[2021-10-06 09:16] RijoshEnfin commented on #136
@faiyazmi197  is this debug build?

[2021-10-06 09:25] faiyazmi197 commented on #136
Yes @RijoshEnfin , it is debug build

[2021-10-06 09:31] RijoshEnfin commented on #136
i think that the reason for this issue please check through play store test mode

[2021-10-06 09:32] RijoshEnfin commented on #136
i think that the reason for this issue please check through play store internal test mode

[2021-10-06 09:42] faiyazmi197 commented on #136
Okay,
Thank you for your suggestion! @RijoshEnfin

[2021-10-08 06:36] RijoshEnfin commented on #136
@faiyazmi197 get any solution?

[2021-10-12 10:06] hardikp888 opened #140 "[BUG] AppNotFoundException throw from onCreate() of PaymentUiActivity, So can't catch it."
Library is throwing the exception from onCreate() of PaymentUiActivity. So as a consumer, we can to catch it.

**Prerequisite**
Device is not having any UPI application.

**How to Reproduce:**

- Download the demo application

![image](https://user-images.githubusercontent.com/8247619/136935612-288a095f-d041-462b-9643-c56d93a42ad1.png)

- Fill the details and select the UPI as Default.
- Click on

[2021-10-13 04:03] nagaraj10 commented on #67
@PatilShreyas
AM using EasyUpiPayment library still facing issue on gpay upi payments  .
it showing error as
“the transaction may be risky.For your safety ,it cant be completed at this time”

 implementation 'dev.shreyaspatil.EasyUpiPayment:EasyUpiPayment:3.0.3'

[2021-10-15 11:16] maheshkankar commented on #67
Did your problem solved, I also tried many things but getting problem.

[2021-10-16 07:31] abhitulse commented on #67
Hello,
I hope my this information will help you.
Try using Merchant Account Bank UPI ID or your can also use razorpay virtual account UPI ID.
This works for me. Phonepe has limit of 200 rupees. Gpay works fine. Paytm has fake transactions issue.

[2021-10-17 07:25] maheshkankar commented on #67
Hii,
Thanks for Sharing Information, It helped me a lot.

Thanks
mahesh

On Sat, Oct 16, 2021 at 1:01 PM Abhishek Tulse ***@***.***>
wrote:

[2021-10-18 10:51] abhitulse commented on #67
You can also use UPI ID of PhonePe Merchant Account

[2021-10-24 04:42] ramesh-gehlot commented on #67
Payments are failing above INR 1000

[2021-10-27 11:54] KhadkaRabindra commented on #115
I am still getting this issue on v3.0.3 . Please help.

[2021-11-29 06:55] RahulGunani commented on #67
Any one can provide Fully Solution
implementation 'dev.shreyaspatil.EasyUpiPayment:EasyUpiPayment:3.0.3'
I Have implement this but it is also not work properly.
I Try with GPAY Bussiness Account And normal bank upi id but issue is same.
@PatilShreyas

[2021-12-03 17:32] chandkiransingh commented on #133
I am having this same issue in MI devices only

[2021-12-15 19:04] joshuajennysibbu opened #145 "The account linked to #mypersonalUpiId that you are trying to send money to is the same as the account from which you are sending money"
Paytm - The account linked to #mypersonalUpiId that you are trying to send money to is the same as the account from which you are sending money.
Google Pay - Error Oops something went wrong.

I have an account in SBI and I link with UPI. and I just installed the google pay business app and I create a new business account and I link with an existing Sbi account. I have two Upi one is my personal up

[2022-01-04 10:54] aditay21 commented on #132
i am also getting same error , any solution?

[2022-01-27 10:36] amitimg29 commented on #91
@PatilShreyas Hello, I'm facing same issue, with merchant VPA and merchant id.

[2022-02-16 04:17] altruistindia opened #149 "UPI Payment is not showing in Android level 11 & 10."
Write information about Bug/Feature Request here
UPI payment option is not showing in android level 10 and 11, but it showing in lower level

[2022-02-21 08:33] sharmaAshish-dev commented on #149
When an app targets Android 11 (API level 30) or higher and queries for information about the other apps that are installed on a device, the system filters this information by default. The limited package visibility reduces the number of apps that appear to be installed on a device, from your app's perspective.

Solution:
you have to add the following code in your manifest file anywhere outside <a

[2022-02-21 08:37] sharmaAshish-dev commented on #140
for solution please refer to [https://github.com/PatilShreyas/EasyUpiPayment-Android/issues/149#issuecomment-1046600257](url)

[2022-03-02 06:57] Rajkumar9898 commented on #149
Above you have mention the code but you have not attached the code please provide it.

[2022-03-02 07:23] Rajkumar9898 commented on #149
I found the solution for it which is  below,
put this code in manifest file and it will work fine.
Thanks.

  <queries>

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" />
        </intent>

        <intent>
            <action android:name="android.intent.action.CHOOSER" />
            <data android:scheme="upi" />
        <

[2022-03-08 16:33] WackyCodes opened #150 "Payment Issue : Nothing is working"
Different Pay options showing different types of issues. For example -
**Phone**
- Payment Declined
- For Security reasons, you are not allowed to send money from your bank account for this payment
- You don't have to enter your UPI PIN to receive money/cash Bank

**Paytm**
-Payment Failed
ref-Url length invalid

- Failed ! Your payment is failed as you exceeded the 24 hour payment limit on your p

[2022-03-09 07:50] sharmaAshish-dev commented on #149
Yes, indeed it is. but only Intent filter can also do the job done. As it will also allows your app to query all apps that are provoked by "upi Scheme" rather than querying specific packages.👍

[2022-03-13 16:23] zimmy9537 commented on #150
@WackyCodes did you find any solution for the upi intent type payment.

[2022-03-22 11:41] Gammaprince commented on #7
sir your library invoking wrong callback it says phone doesn't have any upi app , but there are upi apps installed in my phone
what is the solution ? why is it behaving so different?
If you could give your precious time please help me out

[2022-03-26 08:36] deepsinghrathi opened #151 "On failed transection give success"
When I dial wrong pin or payment goes failed then your system give success. I try many time please you try also.

[2022-03-26 08:37] deepsinghrathi commented on #151
Sir my app is live application, show please answer early.

[2022-03-31 19:03] ravik73 commented on #150
Following

[2022-04-06 20:17] dynomus commented on #151
@deep191717 what do you pass as txnId and merchant code ?

[2022-05-22 10:52] arjunpatel1 opened #157 "App Crash (No UPI app found on device.)"
FATAL EXCEPTION: main
    Process: com.payment.ammu, PID: 21361
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.payment.ammu/dev.shreyaspatil.easyupipayment.ui.PaymentUiActivity}: dev.shreyaspatil.easyupipayment.exception.AppNotFoundException: No UPI app exists on this device to perform this transaction.
        at android.app.ActivityThread.performLaunchActivity(Activit

[2022-06-08 08:56] Dhruvi0902 commented on #150
@PatilShreyas Did anybody here found the solution?
Because I am facing this issue in production and debug app both.

[2022-06-24 11:13] marutichintan commented on #151
My Suggest not to use this plugin, because you cannot verify the Transaction with Bank whether it success or not. if you want to make sure, Install SMS Reader App in you mobile and Confirm using Bank Messages.

if you want Market Solution try https://upigateway.com

[2022-06-25 09:58] PatilShreyas commented on #98
Hi, have you tried providing merchant code? Actually updates are happening from NPCI side constantly and they're always trying to tighten the security which is really good.

[2022-06-26 13:39] RilanJayswal commented on #98
Yes I try

[2022-07-04 09:55] RahulGunani commented on #67
**USE THIS UPDATED CODE**

https://github.com/RahulGunani/Upi-Payment-in-Android-Latest-Updated-Code/

[2022-07-06 10:41] HeroKince commented on #157
What is the Android system version？

[2022-07-10 14:36] marutichintan commented on #136
Pay with intent only works with phonepe business. it also limited to some Account you need to call customer care if not already active.

[2022-07-10 14:43] marutichintan commented on #69
you can do that using 2 process and i have tried both work perfect.
1. Read the Bank SMS from Android Devices and match the Transactions.
2. If you are using Phonepe Business or Bharatpe you will get transaction access using their website. you can match the transactions.

[2022-07-10 14:46] marutichintan commented on #150
Solution is Simple. PSP did have permission to use Pay using Intent (Deep link) that's why you are getting this issue. but only 1 M2P App has Pay with intent support that is Phonepe Business.

try https://upigateway.com if you want success the transaction only after verify.

[2022-07-16 06:09] sahuisha268 opened #166 "EasyUpiPayment-Android success status"
i have implemented EasyUpiPayment, when i do transactions while entering wrong pin in phonepe, i am getting status success instead of failure. how can i resolve this issue? pls help.

[2022-07-19 11:36] AbhinavChauhan97 commented on #157
happened with me also on android 11 in v3.0.3

[2022-07-19 11:39] AbhinavChauhan97 commented on #112
it is still crashing on my android 10 in v3.0.3

[2022-07-19 14:52] harshadkanziya-in commented on #157
Please help as still issues on 3.0.3 version
AndroidRuntime: FATAL EXCEPTION: main
    Process: com.upidemo, PID: 8623
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.upidemo/dev.shreyaspatil.easyupipayment.ui.PaymentUiActivity}: dev.shreyaspatil.easyupipayment.exception.AppNotFoundException: No UPI app with package name 'net.one97.paytm' exists on this device to perform

[2022-07-30 14:03] yu783 commented on #98
sir can you providing the main activity source code

[2022-08-05 04:28] ramank24 commented on #112
When I am overriding function onAppNotFound() as :
override fun onAppNotFound(transactionDetails: TransactionDetails) {
}

It giving compilation error : 'onAppNotFound' overrides nothing

Kindly help.

[2022-08-05 04:40] ramank24 commented on #112
One more point I would like to mention regarding integration of EasyUpiPayment in my app is that I am doing this inside the fragment. My App flow is like:

1. User click membership button then I call a fragment
2. Inside this fragment then I invoke EasyUpiPayment api

So point is whether this approach Ok?

[2022-08-16 04:04] subhra9326 opened #168 "Got error code (U09) & (U29-ZE) for payeeMerchantCode change"
I got an error code (U09) if using payeeMerchantCode is empty and if 4-digit payeeMerchantCode is given then I got an error (U29-ZE).
**** My UPI id is a business account and its working for the last 1 year where regularly I am getting payment using a direct UPI id and QR code.

[2022-09-02 10:16] SuvarnaPBhadane commented on #157
happened with me also on android 12 in v3.0.3. Only Gpay is working. PayTm, PhonePay other apps not working.

2022-09-02 15:32:17.809 22260-22260/com.idragonpro.andmagnus E/PaymentUiActivity: No UPI app found on device.

2022-09-02 15:32:17.826 22260-22260/com.idragonpro.andmagnus E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.idragonpro.andmagnus, PID: 22260
    java.lang.RuntimeExcepti

[2022-09-02 10:55] SuvarnaPBhadane commented on #115
This issue exist in your sample apk as well. Please look into this @PatilShreyas . So many people are facing this issue who are using your library. Please fix this on priority

[2022-09-03 05:38] arjunpatel1 commented on #157
we are facing this issue in all version.
if enter wrong upi pin then after back getting success response.

On Fri, Sep 2, 2022 at 3:46 PM SuvarnaPBhadane ***@***.***>
wrote:

[2022-11-03 16:04] bkubes commented on #151
Yes, i too encountered the same issue, i wrongly entered the pin number but still it is showing the SUCESS transaction, shreyas, could you look into this?

[2022-11-09 07:38] theparmendrasingh commented on #98
Tried providing merchant code.. Still the same error. Please advise ASAP.

[2022-11-09 14:56] Anand3777 commented on #166
I am also facing the same issue for InSufficient balance scenarios on PhonePe. if the developers provide app restrict option. so I will remove PhonePe and go with GPay. Need fix on this it highly important.

[2022-11-09 15:01] Anand3777 opened #174 "In Sufficient Balance Handling on PhonePe Or Developer customisation Required for showing UPI apps"
Hi Team,

I am getting Success on insufficient balance error on PhonePe.

Goole Pay is working as expect. So kindly give an customisation part to the developers on showing UPI apps. So that I will show only GPay to the customers.

[2022-11-12 09:42] akshhack opened #176 "[HIRING OFFER] Carnegie Mellon AI founder"
Hey Shreyas,

Amazing profile. Would love to chat. We're a team of deep AI ML engineers looking for a solid full-stack engineer. Send me an email to ack@usecamb.ai if you're interested

[2022-11-20 07:56] PatilShreyas commented on #176
Thanks but this is an inappropriate place for this discussion. Also, not looking for a change at the moment.

[2022-11-20 07:56] #176 closed, assigned to PatilShreyas

[2022-11-29 18:25] Gursewak1999 commented on #166
Same issue. I am getting success status even after payment failed on phonepay